@import "../../styles/theme.scss";

.first_section {
  @include flex_container(column, center, center);
  background: $main_gradient no-repeat fixed;
  width: 100%;
  min-height: 85vh;
  padding: 0 2rem;
  gap: 2;

  .section {
    color: $primary_color;
    width: 100%;
    height: 100%;

    .text_container {
      padding-top: 2rem;
      .title {
        @include text_styling(24px, 600, 28.8px, $primary_color);
        letter-spacing: 1.31px;
        padding-left: 0.5rem;
      }

      .subtitle {
        @include text_styling(15px, 400, 16.97px, $gray_light_color);
        margin: 1.6rem 0;
        max-width: 90%;
        padding-left: 1rem;
        .black {
          font-weight: 700;
        }
      }

      .list {
        padding-left: 0.5rem;
        ol {
          list-style-type: none;
          padding-top: 1rem;
        }
        li {
          @include text_styling(12px, 500, 16.97px, $primary_color);
          letter-spacing: 0.13px;
        }
      }
    }
    .stats {
      @include flex_container(row, space-between, center);
    }
  }
}

.second_section {
  width: 100%;
  min-height: 85vh;

  .top_background_nuts {
    background-image: url("../../../public/assets/background.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    transform: scaleY(-1);
  }
  .section {
    @include flex_container(column, center, center);
    gap: 2;

    .container {
      @include flex_container(column, center, center);
      gap: 1.2rem;
      margin: 0 2rem;

      .text_section {
        @include flex_container(column, flex-start, flex-start);
        gap: 1.2rem;
        margin-top: -2.2rem;

        .title_work {
          @include text_styling(22px, 700, 36.54px, transparent);
          background-image: $accent_gradient;
          -webkit-background-clip: text;
          background-clip: text;
        }

        .subtitle {
          @include text_styling(12px, 400, 18px, $secondary_color);
          letter-spacing: 0.24px;
        }
        .list {
          ol {
            list-style-type: none;

            li {
              padding-bottom: 1rem;
              background-image: $list_gradient;
              -webkit-background-clip: text;
              background-clip: text;
              @include text_styling(14px, 700, 30px, transparent);
              letter-spacing: 0.28px;
            }
          }
        }
      }
      .agents_section {
        @include flex_container(column, center, center);
        gap: 2rem;

        .title_agents {
          @include text_styling(16.73px, 700, 20.66px, $accent_light);
          letter-spacing: 0.16px;
          text-align: center;
        }
        .link {
          @include text_styling(11.99px, 300, 20.66px, $search_color);
          margin-left: auto;
          padding-right: 2rem 2rem 0 0;
          letter-spacing: 0.16px;
        }
        .desktop_image_agents {
          display: none;
        }
        .mobile_image_agents {
          display: block;
        }
      }
    }
    .image_section {
      position: relative;
      margin-top: 3rem;
      padding-left: 2rem;

      .desktop_image {
        display: none;
      }
      .mobile_image {
        display: block;
      }
      .title {
        position: absolute;
        @include text_styling(24px, 700, 36.54px, transparent);
        background-image: $accent_gradient;
        -webkit-background-clip: text;
        background-clip: text;
        top: 0;
        right: 0;
        z-index: 2;
        margin-right: 2rem;
      }
      .desktop_text {
        display: none;
      }
    }
  }
  .button_container {
    @include flex_container(column, center, center);
    margin: 2rem 0 -1rem 0;
    button {
      @include text_styling(12px, 700, 14px, $primary_color);
      background: $main_gradient;
      cursor: pointer;
      padding: 0.8rem;
      border: none;
      border-radius: 8px;
      border-radius: 5px;
    }
  }

  .bottom_background_nuts {
    background-image: url("../../../public/assets/background.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    margin-top: -4rem;
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1280px) and (min-height: 720px) {
  .home {
    .first_section {
      min-height: 90vh;
      padding: 0;
      .section {
        @include flex_container(row-reverse, space-between, center);
        max-width: 1200px;

        .slider {
          max-width: 55%;
          height: 100%;
        }

        .text_container {
          padding-top: 0;
          max-width: 50%;
          height: 100%;
          @include flex_container(column, flex-start, flex-start);

          .title {
            letter-spacing: 2px;
            font-size: 42px;
            line-height: 50.4px;
            font-weight: 600;
            max-width: 50%;
            padding-left: 0;
          }

          .subtitle {
            font-size: 26px;
            font-weight: 400;
            max-width: 65%;
            padding-left: 0;
            line-height: 26px;
          }

          .list {
            ol {
              padding-top: 2rem;
              padding-bottom: 4rem;
              li {
                line-height: 26px;
                font-size: 20px;
                letter-spacing: 0.2px;
              }
            }
          }
          .stats {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }
        }
      }
    }
  }
  .second_section {
    min-height: 100vh;
    .section {
      @include flex_container(column, center, center);
      .container {
        @include flex_container(row, space-between, center);
        margin: 0 15rem;

        .text_section {
          gap: 2rem;

          .title_work {
            font-size: 45px;
            font-weight: 700;
            line-height: 36.54px;
            margin-top: -2rem;
          }

          .subtitle {
            font-size: 22px;
            font-weight: 400;
            line-height: 30.86px;
            letter-spacing: 0.24px;
            width: 65%;
          }
          .list {
            ol {
              li {
                @include text_styling(22px, 700, 36.54px, transparent);
              }
            }
          }
        }
        .agents_section {
          .title_agents {
            font-size: 27.92px;
            line-height: 34.46px;
            letter-spacing: 0.27px;
          }
          .link {
            padding-left: 10rem;
            font-size: 20px;
            line-height: 34.46px;
            letter-spacing: 0.27px;
          }
          .mobile_image_agents {
            display: none;
          }
          .desktop_image_agents {
            display: block;
          }
        }
      }
      .image_section {
        .desktop_image {
          display: block;
        }
        .mobile_image {
          display: none;
        }
        .title {
          font-size: 45px;
          font-weight: 700;
          line-height: 36.54px;
          background-image: $gray_gradient;

          left: 0;
        }
        .desktop_text {
          display: block;
          position: absolute;
          text-align: right;
          width: 40%;
          right: 3%;
          bottom: 10%;

          p {
            @include text_styling(20px, 400, 30.86px, $secondary_color);
            letter-spacing: 0.24px;
          }
        }
      }
      .button_container {
        align-items: flex-start;
      }
    }
  }
  .bottom_background_nuts {
    background-image: url("../../../public/assets/background.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    margin: -1rem 0 0 0;
  }
}
