@import "../../styles/theme.scss";

.stat {
  @include flex_container(row, center, center);
  gap: 10px;

  h1 {
    @include text_styling(27.42px, 500, 40.47px, $primary-color);
  }

  p {
    @include text_styling(9.79px, 500, 13.06px, $primary-color);
  }
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .stat {
    width: auto;
    height: 62px;
    h1 {
      font-size: 42px;
      font-weight: 500;
      line-height: 62px;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}
