@import "./theme.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $secondary_color;
}

.background_color {
  background: $background_gradient no-repeat fixed;
  color: $primary_color;
}

.container {
  width: 100%;
  height: 100vh;
  @include flex_container(column, center, center);

  .section {
    width: 100%;
    max-width: 800px;
    @include flex_container(column, left, left);
    padding: 20px;

    > div {
      flex: 1;
      margin: 10px;
    }

    .title {
      @include text_styling(1.4rem, 10px, $primary_color);
    }

    .subtitle {
      @include text_styling(0.8rem, 15px, $secondary_color);
      margin-top: 1.2rem;
      font-weight: normal;
      max-width: 85%;
    }

    .list {
      @include text_styling(0.7rem, 2px, $primary_color);
      ol {
        list-style-type: none;
      }
    }

    .wrapper {
      @include flex_container(row, space-between, center);
    }
  }

  .second_section {
    background-image: url("../../public/assets/background.png");
    background-position: top;
    background-size: fill;
    background-repeat: no-repeat;
    height: 100px;
    padding: 20px;

    .title_work {
      @include text_styling(1.6rem, 10px, $accent_color);
      margin: 2rem 0;
    }
    .list {
      @include text_styling(0.9rem, 20px, $accent_color);
      padding-top: 1rem;
      font-weight: bold;
      ol {
        list-style-type: none;

        li {
          padding-bottom: 1rem;
        }
      }
    }

    .image_container {
      position: relative;
      margin: 1rem 0;
      @include flex_container(column, center, center);

      .title_image {
        @include text_styling(1.2rem, 20px, $accent_color);
        text-align: center;
      }
      .image_wrapper {
        display: inline-block;
        margin: 2rem;
      }
      .link {
        color: $search_color;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .complete {
      position: relative;
      width: 100%;
      height: 100%;

      .secondary_title {
        @include text_styling(1.2rem, 20px, $accent_color);
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
      }
    }
    .container_bottom {
      background-image: url("../../public/assets/background.png");
      background-position: bottom;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100px;
      padding: 20px;
      .button_container {
        @include flex_container(column, center, center);

        .info_button {
          @include text_styling(0.8rem, 10px, $primary_color);
          background-color: $accent_color;
          cursor: pointer;
          padding: 0.6rem;
          border: none;
          border-radius: 8px;
          font-weight: bold;
        }
      }
    }
  }
}
