$background-gradient: linear-gradient(to right, #aa76ed, #5aa2f5, #00d4ff);

$primary-color: #ffffff;
$secondary-color: #000000;
$search-color: #f25529;

@mixin text-styling($font-size, $margin-bottom) {
  font-size: $font-size;
  margin-bottom: $margin-bottom;
}
