$main_gradient: linear-gradient(to right, #7c4be6, #75acff);
//$main_gradient: linear-gradient(90deg, #572ded 0%, #528dff 90.69%);
$accent_gradient: linear-gradient(90deg, #572ded 0%, #528dff 90.69%);
//$gray_gradient: linear-gradient(90deg, #767676 0%, #A1A1A1 100%);
$gray_gradient: linear-gradient(90deg, #7c7c7c 0%, #a1a1a1 100%);
$list_gradient: linear-gradient(90deg, #528dff 0%, #572ded 97.95%);

$primary_color: #ffffff;
$secondary_color: #000000;
$accent_color: #4518cd;
$accent_medium: #765df1;
$accent_light: #6a9cff;

$gray_color: #1c437d;
$gray_light_color: #412c86;
$search_color: #ff5722;

$text_xxs: 0.8rem;
$text_xs: 1rem;
$text_sm: 1.1rem;
$text_md: 1.4rem;
$text_lg: 1.8rem;
$text_xl: 2rem;

@mixin text_styling($font-size, $margin-bottom, $color) {
  font-size: $font-size;
  margin-bottom: $margin-bottom;
  color: $color;
}

@mixin flex_container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
