$main_gradient: linear-gradient(to right, #6c33e6, #7c4be6, rgb(132, 111, 247));

$primary_color: #ffffff;
$secondary_color: #000000;
$accent_color: #795bd1;
$search_color: #f25529;

$text_xs: 1rem;
$text_sm: 1.1rem;
$text_md: 1.4rem;
$text_lg: 1.8rem;
$text_xl: 1.8rem;

@mixin text_styling($font-size, $margin-bottom, $color) {
  font-size: $font-size;
  margin-bottom: $margin-bottom;
  color: $color;
}

@mixin flex_container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
