@import "../../styles/theme.scss";

.navbar {
  padding: 1rem;
  background: $main_gradient;
  z-index: 100;
  .mobile_navbar {
    @include flex_container(row, space-between, center);
    .menuButton {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      background-color: white;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      top: 39px;

      .menuIcon {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 0.5rem;
        color: $accent_color;
      }
    }
  }
  .desktop_navbar {
    display: none;
  }
}

.logo {
  top: 39px;
  left: 17px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .navbar {
    .mobile_navbar {
      display: none;
    }

    .desktop_navbar {
      @include flex_container(row, space-between, center);
      max-width: 1200px;
      margin: 0 auto;
    }

    .nav_group {
      @include flex_container(row, center, center);
      gap: 40px;

      a {
        @include text_styling(16px, 500, 24px, $primary_color);
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
          color: $accent_color;
        }
      }
    }
    .dropdown {
      @include dropdown;
    }

    .dropdown_content {
      @include flex_container(column, center, center);
      position: absolute;
      max-width: 100%;
      background-color: white;
      border: 3px solid $accent_gradient;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 0.4rem;
      z-index: 1;
      margin-top: 1rem;

      a {
        color: $accent_medium;
        text-decoration: none;
        padding: 0.5rem;
        transition: color 0.3s ease;

        &:hover {
          color: $accent_color;
        }
      }
    }
    .nav_about {
      @include flex_container(row, space-evenly, center);
      gap: 40px;

      a {
        @include text_styling(16px, 500, 24px, $primary-color);
        transition: color 0.3s ease;
        white-space: nowrap;
        &:hover {
          color: $accent_color;
        }
      }

      .button_notimation {
        @include text_styling(16px, 500, 24px, $primary-color);
        width: 196px;
        height: 45px;
        cursor: pointer;
        background-color: $search-color;
        border: none;
        border-radius: 8px;
        white-space: nowrap;
        transition: color 0.3s ease;
        &:hover {
          opacity: 90%;
        }
      }

      .button_languaje {
        @include text_styling(16px, 400, 24px, $primary-color);
        cursor: pointer;
        background-color: transparent;
        padding: 0.9rem 0.4rem;
        border: none;
        border-radius: 8px;
        white-space: nowrap;
        transition: color 0.3s ease;
        &:hover {
          color: $accent_color;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .navbar {
    .desktop_navbar {
      max-width: 1400px;
    }
  }
}
