@import "../../styles/theme.scss";

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;

  .stat_one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 27.42px;
      font-weight: 500;
      line-height: 40.47px;
    }

    p {
      font-weight: 500;
      max-width: 20%;
      padding: 0.4rem;
      @include text_styling(9.79px, 0, $primary_color);
    }
  }

  @media (min-width: 768px) {
    .stat_one {
      h1 {
        font-weight: 500;
        font-size: 42px;
        line-height: 62px;
      }

      p {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        max-width: 20%;
      }
    }
  }
}
