@import "../../styles/theme.scss";

.background {
  background-image: url("../../../public/assets/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 4rem;
  .container {
    height: 100%;
    @include text_styling(14px, 300, 16.8px, $primary-color);
    text-align: center;
    @include flex_container(row, space-evenly, center);
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .background {
    height: 15vh;
  }
  .background .container {
    font-size: 60px;
    line-height: 62.4px;
  }
}
