@import "../../styles/theme.scss";

.background {
  background-image: url("../../../public/assets/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 4rem;
  .container {
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: center;
    color: $primary-color;
    @include flex_container(row, space-evenly, center);
  }

  @media only screen and (min-width: 768px) {
    height: 15vh;
    .container {
      font-size: 52px;
      font-weight: 300;
      line-height: 62.4px;
    }
  }
}
