@import "../../styles/theme.scss";

.keen_slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.slider {
  max-height: 50vh;
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .keen_slider {
    width: 100%;
  }
  .slider {
    max-height: 80vh;
  }
}
